body {
    background-color: #F5F5F5;
    font-family: 'Lato', sans-serif;
}
input {
    width: 80%;
    height: 5px;
    padding: 0.9rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 0;
    margin: 10px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #2a8b8b;
}

.container {
    background-color: #3e4b51;
    margin: auto;
    width: 600px;
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.header {
    padding: 35px;
}

.section-input {
    text-align: center;
    background-color: #74b3a7;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.header-title {
    text-align: center;
    color: #beee3b;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.header-subtitle {
    text-align: center;
    color: #f0f0d8;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.9375rem;
}

.header-subtitle2 {
    text-align: center;
    color: #f0f0d8;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.9375rem;
}

.header-subtitle3 {
    text-align: center;
    color: #f0f0d8;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.9375rem;
}

span {
    color: #beee3b;
}

.title-input {
    text-align: center;
    color: #070705;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}